html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: #1e2126;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}