html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: #1e2126;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.6);
}